<ion-view title="CONTACTS" id="page1">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-contacts"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="page2()" id="cONTACTS-button1" class="button button-dark button-small button-block icon-left ion-person-add">ADD NEW CONTACT</a>
    <ion-list id="cONTACTS-list7">
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item5" href="tel:+6392626262">
        <img src="img/cRmPiIjQqC8HZ2qFRSDS_2e3xm0.jpg">
        <h2>Kenneth</h2>
        <p>+6392626262</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-dark">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item7" href="tel:+6424242222">
        <img src="img/7qWlaRSaSXKkRKXIIpbY_hqdefault.jpg">
        <h2>Reyes</h2>
        <p>+6424242222</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item6" href="tel:+6391415151">
        <img src="img/UzHtBIHtRSSRnfVM0VLY_maxresdefault.jpg">
        <h2>Panot</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item14" href="tel:+6391415151">
        <img src="img/y7tG83DgTzuYxQ1la0cT_nation-ouster-plot2.jpeg">
        <h2>Trillanes</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item15" href="tel:+6391415151">
        <img src="img/leMYKYWJQ9usbrSbMGco_pacquiao.jpg">
        <h2>Pacquiao</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item16" href="tel:+6391415151">
        <img src="img/sjG3yGbZSDKusKYkVdUg_Flloyd_2701.jpg">
        <h2>Mayweather-weather</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item17" href="tel:+6391415151">
        <img src="img/uzaSKQX2Q1SKvTvew4Yk_delima.jpg">
        <h2>Delima</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item18" href="tel:+6391415151">
        <img src="img/xAWl3LJNRKSgW3Vqz4bF_20170927-duterte-doj-mnib-14.jpg">
        <h2>Duterte</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item23" href="tel:+6391415151">
        <img src="img/UrznyVSTSRRjYnIPPJxQ_3b58jg.jpg">
        <h2>Pogi</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="cONTACTS-list-item24" href="tel:+6391415151">
        <img src="img/IOgIpVwNRmW721yObpZL_uwaaaaaaaaaaaaaaaa-ako-si-lebron-tagalog-uwaaaaaaaaaaaaaaa.jpg">
        <h2>Lebron</h2>
        <p>+6391415151</p>
        <i class="icon ion-android-call icon-accessory"></i>
        <ion-option-button class="button-positive">EDIT</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>