<ion-view title="" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-create"> CREATE NEW</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <form id="page2-form1" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-list id="page2-list6" class="manual-list-fullwidth">
        <label class="item item-input" id="page2-input1">
          <span class="input-label">Name :</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page2-input2">
          <span class="input-label">Number :</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="page2-input3">
          <span class="input-label">Affiliation :</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="cONTACTS()" id="page2-button2" class="button button-stable button-block icon-left ion-ios-personadd">ADD TO CONTACTS</a>
    </form>
  </ion-content>
</ion-view>